.registerMahazi .containerRegister {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: 100%;
}

@media (max-width: 800px) {
  .registerMahazi .containerRegister {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.registerMahazi .containerRegister > .head {
  width: 50%;
}

@media (max-width: 800px) {
  .registerMahazi .containerRegister > .head {
    width: 100%;
    height: 500px;
  }
}

.registerMahazi .containerRegister > .head > .info {
  height: 100%;
  width: 50%;
  position: fixed;
  background: #222f5b;
  background: -webkit-gradient(linear, left top, left bottom, from(#222f5b), color-stop(50%, #33317c), to(#222f5b));
  background: linear-gradient(to bottom, #222f5b 0%, #33317c 50%, #222f5b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222f5b', endColorstr='#222f5b',GradientType=0 );
}

@media (max-width: 800px) {
  .registerMahazi .containerRegister > .head > .info {
    width: 100%;
    height: 500px;
    position: relative;
  }
}

.registerMahazi .containerRegister > .head > .info > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.07;
  position: absolute;
  top: 0;
  left: 0;
}

.registerMahazi .containerRegister > .head > .info .bodyInfo {
  width: 100%;
  padding: 2rem 5rem;
  z-index: 1;
}

@media (max-width: 800px) {
  .registerMahazi .containerRegister > .head > .info .bodyInfo {
    padding: 2rem 2.5rem;
  }
}

.registerMahazi .containerRegister > .head > .info .bodyInfo > img {
  margin-bottom: 10px;
}

.registerMahazi .containerRegister > .head > .info .bodyInfo span {
  display: block;
  color: white;
  text-align: center;
  width: 100%;
}

.registerMahazi .containerRegister > .head > .info .bodyInfo span.subtitle {
  line-height: 30px;
  text-transform: uppercase;
  opacity: 0.8;
}

.registerMahazi .containerRegister > .head > .info .bodyInfo span.title {
  line-height: 40px;
  font-size: 3rem;
  letter-spacing: 20px;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0.8;
}

@media (max-width: 800px) {
  .registerMahazi .containerRegister > .head > .info .bodyInfo span.title {
    line-height: 20px;
    font-size: 2rem;
    letter-spacing: 5px;
  }
}

.registerMahazi .containerRegister > .head > .info .bodyInfo p {
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  opacity: 0.8;
}

.registerMahazi .containerRegister > .head > .info .bodyInfo .arrow {
  display: table;
  height: 10px;
  width: 70px;
  margin: 0 auto;
}

.registerMahazi .containerRegister > .head > .info .bodyInfo .arrow > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  opacity: 0.6;
  margin-top: 20px;
}

@media (max-width: 800px) {
  .registerMahazi .containerRegister > .head > .info .bodyInfo .arrow > img {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: 40px;
  }
}

.registerMahazi .containerRegister > .contentRegister {
  width: 50%;
  padding: 5rem;
  text-align: center;
}

.registerMahazi .containerRegister > .contentRegister span.title {
  line-height: 40px;
  font-size: 3rem;
  letter-spacing: 20px;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0.8;
}

@media (max-width: 800px) {
  .registerMahazi .containerRegister > .contentRegister span.title {
    line-height: 20px;
    font-size: 2rem;
    letter-spacing: 5px;
  }
}

.registerMahazi .containerRegister > .contentRegister p.subtitle {
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  opacity: 0.8;
}

@media (max-width: 800px) {
  .registerMahazi .containerRegister > .contentRegister {
    width: 100%;
    padding: 2rem;
    background: white !important;
  }
}

.registerMahazi .containerRegister > .contentRegister .input-field {
  border: 1px solid #555;
  border-radius: 5px;
  overflow: hidden;
}

.registerMahazi .containerRegister > .contentRegister .input-field input {
  border: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  margin-bottom: 0;
  color: #555;
  font-size: 14px;
  padding-left: 20px;
  width: 100%;
}

.registerMahazi .containerRegister > .contentRegister .input-field input:focus {
  border-bottom: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0;
}

.registerMahazi .containerRegister > .contentRegister .input-field input::-webkit-input-placeholder {
  color: #555;
}

.registerMahazi .containerRegister > .contentRegister .input-field input:-ms-input-placeholder {
  color: #555;
}

.registerMahazi .containerRegister > .contentRegister .input-field input::-ms-input-placeholder {
  color: #555;
}

.registerMahazi .containerRegister > .contentRegister .input-field input::placeholder {
  color: #555;
}

.registerMahazi .containerRegister > .contentRegister .select-field {
  overflow: none !important;
  border: 1px solid #555;
  border-radius: 5px;
  margin-bottom: 20px;
}

.registerMahazi .containerRegister > .contentRegister .select-wrapper input {
  border: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  margin-bottom: 0;
  color: #555;
  font-size: 14px;
  padding-left: 20px;
  width: 100%;
}

.registerMahazi .containerRegister > .contentRegister .select-wrapper input:focus {
  border-bottom: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0;
}

.footer {
  margin: 20px 0;
  padding: 0 !important;
}

.btnSent {
  background: #353A71;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  height: 45px;
  padding: 10px 0;
}

.btn-app-store {
  background: black;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  padding: 10px 0;
}

.btn-app-store img {
  width: auto;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-app-store:hover, .btn-app-store:focus {
  background: #000;
}
/*# sourceMappingURL=registerStyle.css.map */